.login-page {
  position: relative;
  background-color: #ffffffcf;
  width: 100%;
  height: calc(100% - 100px);
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #b8b8b8;
          box-shadow: 0px 0px 10px #b8b8b8;
  overflow: auto;
  font-family: microsoft jhenghei;
}

.login-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  margin-bottom: 40px;
  color: #fff;
}

.table tbody {
  border-style: none;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 500px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding-bottom: 30px;
}

#inputs {
  padding: 20px 50px;
  color: white;
}

#inputs input {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: microsoft jhenghei;
}

#inputs select {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: microsoft jhenghei;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7);
}

.title {
  text-align: center;
  padding: 30px;
  padding-bottom: 10px;
}

.line {
  width: 80%;
  height: 1px;
  background: linear-gradient(135deg, #00eaff, #0047ff);
  position: relative;
  left: 50%;
  margin-left: -40%;
}

.btnPart {
  text-align: center;
  margin: 0;
}

.button-act {
  background: linear-gradient(135deg, #2e6ee5, #2fa5b8);
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-act:hover {
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.button-light {
  background: linear-gradient(135deg, #2e6ee5, #2fa5b8);
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-light:hover {
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.warning-text {
  font-size: 14px;
  color: #fba503;
}

.login-hint {
  font-weight: bold;
  padding-bottom: 16px;
  opacity: 0.8;
  /*text-decoration: underline;*/
}

.notrobot {
  margin-top: 20px;
}
/*# sourceMappingURL=Login.css.map */