.nav-link{
    color: rgb(137, 231, 145)
}

.nav-brand-fourseason{
    color: rgb(62, 146, 23);
    font: {
        family: '微軟正黑體';
        weight: bold;
        size: 20px;
      }
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }

.navbar-toggler{
    background-color: rgb(66, 163, 163);
}

.color-nav {
    background-color: rgb(17, 15, 153);
}